div {
  border: 20px solid transparent;
  display: block;
  min-width: 20em;
  min-height: 100em;
  border-radius: 1000px;
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent; 
  
}

#red {
  /* this selects any elements with the red id */
  border-top-color: red;
}

#orange {
  border-top-color: orange;
}

#yellow {
  border-top-color: yellow;
}

#green {
  border-top-color: orange;
}

#blue {
  border-top-color: blue;
}

#indigo {
  border-top-color: indigo;
}

#violet {
  border-top-color: violet;
}